// app global css in SCSS form
@use "./util.scss";

body {
  background-color: $dark;
  color: $baseWhite;
}

.bg-header {
  background-color: rgba(#2f3336, 0.75);
}

.start-btn {
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  width: 120px;
}

.stop-btn {
  position: fixed;
  bottom: 20px;
}

$btn-gutter: calc(-2vw);
.navigate {
  &__btn {
    padding: 10px;
    border: $baseWhite 5px solid;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100vw / 3 - 40px);
    &:disabled {
      opacity: .3!important;
    }
  }
  &__left {
    left: $btn-gutter;
    margin-right: auto;
  }
  &__right {
    right: $btn-gutter;
    margin-left: auto;
  }
}

.q-dialog__backdrop {
  backdrop-filter: blur(10px);
}

.adjust-page-3lists {
  padding-bottom: 100px !important;
}

.adjust-page {
  padding-bottom: 140px !important;
}

.q-slider__text {
  font-size: 20px;
}

.result-window .q-dialog__inner {
  align-items: end !important;
  top: auto!important;
}
