.w-100pc {
  width: 100%;
}

.h-100pc {
  height: 100%;
}

.top-0 {
  top: 0;
}

.bg333 {
  background-color: #333333 !important;
}

.overflow-eclipse {
  // 使用時には幅の指定が必須
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
