.w-100pc {
  width: 100%;
}

.h-100pc {
  height: 100%;
}

.top-0 {
  top: 0;
}

.bg333 {
  background-color: #333333 !important;
}

.overflow-eclipse {
  // 使用時には幅の指定が必須
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type='time'] {
  position: relative;
}

input[type='time']:after {
  font-family: FontAwesome;
  content: '\f017';
  color: #fff;
  padding: 0 5px;
}
input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  z-index: 100;
}
